// Global settings for all processes
process {
  executor  = 'local'
  stageInMode = 'copy'
}

docker {
  enabled = true
  runOptions = '--platform=linux/amd64'
}

// Pipeline parameters
params {
  reads_glob = './test_read/*.fastq.gz'    // Glob pattern to find all input FASTQ files
  outdir     = './outputs'        // Base output directory for pipeline
  threads   = 8
  memory    = '16 GB'
}
