// Global settings for all processes
process {
  executor  = 'local'
  stageInMode = 'copy'
}

docker {
  enabled = true
}

// Pipeline parameters
params {
  reads_glob = './test_read/*.fastq.gz'    // Glob pattern to find all input FASTQ files
  outdir     = './autocycler_out'        // Base output directory for Autocycler
  threads   = 8
  memory    = '16 GB'
}
