// Global settings for all processes
process {
  executor  = 'local'
  stageInMode = 'copy'
}

// Docker parameters
docker {
  enabled = true
  runOptions = '--platform=linux/amd64'
}

// Pipeline parameters
params {
  longReadsGlob = './test_longreads/*.fastq.gz'    // Glob pattern to find all input long-read files
  shortReadsGlob = './test_shortreads/*_{1,2}.fastq.gz'    // Glob pattern to find all input short-read files
  runShortReads = true
  outdir     = './outputs'        // Base output directory for pipeline
  threads   = 8
  memory    = '16 GB'
}
